

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="vertical-align: inherit;">Blog!</a>


        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Articles</a>
                </li>


            </ul>

        </div>
    </div>
</nav>