<div class="container">

    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue sur mon Blog</h1>
        <p class="lead"> Ce blog me permet d'afficher mes meilleurs articles</p>
        <hr class="my-4">
        <p>Vous pouvez acceder à la totalité de mes articles</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir mes articles</a>
        </p>
    </div>
</div>






